<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" style="overflow-x: hidden">
	<head>
		<style type="text/css">
		</style>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/responsive.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<title>Contact Us--AGRIDERA</title>
	</head>
	<body style="overflow-x: hidden;background-color:#F2F2F2">
		<header class="header1" style="width:auto">
		<div class="nav_c">	
				<nav class="navbar navbar-light bg-light">
					<a class="navbar-brand" href="index.html">
						<img src="images/Logo.png" alt="" height="115px">
					</a>
					
					<button class="navbar-toggler" type="button" data-target="#my-nav" data-toggle="collapse" style="margin-right:10px">
						<span class="navbar-toggler-icon"></span>
					</button>
					<p  style="display:block;margin:0 auto; margin-top:40px;"><input type="search" name="s1" style="font-size:21px;" value="Search">   <button type="button" class="btn btn-link"><img src="images/ico_search.png" alt="ico_search" class="ico_search"></button></p>
					<div id="my-nav" class="collapse navbar-collapse">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="index.html">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Company Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="tomatoall.html">Products</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Services</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">R&D</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contactus.html">Contact</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			
			<div class="row" id="own_header" style="width:1200px;margin: 0 auto"> 
				<div class="col-md-2" align=left><img src="images/Logo.png" alt="Logo" class="Logo" height="83px" width="163px" style="margin-top:20px"></div> 
				<div class="col-md-4"></div>
				<div class="col-md-6">
					<p  style="padding-left:180px"><input type="search" name="s1" style="margin-top:10px;margin-left:40px"><button type="button" class="btn btn-link"><img src="images/ico_search.png" alt="ico_search" class="ico_search"></button></p>
					<div class="navigation" style="margin-right:40px"><a href="index.html">Home </a> <a href="#"> Company Profile </a> <a href="tomatoall.html"> Products </a> <a href="#"> Services </a> <a href="#"> R & D </a> <a href="contactus.html"> Contact </a></p></div>
				</div>	
				
			</div>
		</header>
		<img src="images/mountains.jpg" alt="mountains" id="mountains">
		<div class="contact_form" id="article">
		<div class="row" style="background-color:#F2F2F2;text-align:left;padding-top:51px">
			<div class="col-sm-12 col-lg-2"></div>
			<div class="col-sm-12 col-lg-3"><div class="h_all" id="contactus_sign">Contact Us</div>
								  <div class="gr_stars">*****</div>
			</div>
		</div>
		<div class="row" style="padding-bottom:20px">
			<div class="col-lg-2"></div>
			<div class="col-xs-12 col-lg-10">
				<table  v-if="this.cart" border="2px">
				<tr>
					<td v-for="p in cart"><img :src="'../prakt/js'+p.image" width="100px"><a href="#" @click.prevent="removeFromCart(p.id)"><img src="images/cross.png"></a>
						<p>{{p.title}}</p>
						<p>{{p.short_text}}</p></td>
				</tr>
			</table></div>
		</div>
		<div class="usual_text" id="contact_forms" style="background-color:#F2F2F2">	
			
				
			<form style="border-radius:10px" @submit.prevent="makeOrder()">
				<div class="row" style="padding-bottom:50px">
				<div class="col-xs-0 col-lg-2"></div>
				<div class="col-xs-12 col-lg-3">
						Name *<p><p><input type="text" name="name" required class="c_field" style="width:77%" 		v-model="contactFields.name">
						<p>Company Name<p><input type="text" name="comp_name" class="c_field" style="width:77%" 	v-model="contactFields.company">
						<p>Position<p><input type="text" name="position" class="c_field" style="width:77%" 			v-model="contactFields.position">
						<p>City<p><input type="text" name="city" class="c_field" style="width:77%"					v-model="contactFields.city">
						<p>Country<p><input type="text" name="country" class="c_field" style="width:77%"			v-model="contactFields.country">
						<p>Telephone<p><input type="text" name="t_phone" class="c_field" style="width:77%"			v-model="contactFields.phone">
						<p>Email *<p><input type="text" name="comp_name" required class="c_field" style="width:77%" v-model="contactFields.email">
				</div>
				<div class="col-xs-12 col-lg-6">
						You are a<p><p>
						<select name="you_are_a" class="c_field" style="width:82%" v-model="contactFields.profession">
							<option selected>seed producer
							<option>other
						</select>
						<p>If other, please specify<p><input type="text" name="other_prof" class="c_field" style="width:82%" v-model="contactFields.other_prof">
						<p>You are interested in<p><textarea name="hobbies" rows=10 style="width:82%;border-radius:10px;border: 1px solid #DADADA;box-sizing: border-box;padding-bottom:12px" v-model="contactFields.interests"></textarea>
						<p>Please type this code<p><img src="images/captcha.png"><input type="text" name="captcha" required class="c_field" style="width:225px;margin-left:30px">
							<input type="submit" style="border-radius:60px;border: 0px solid;box-sizing: border-box;background-color:green;color:#FFFFFF;height:55px;width:255px;margin-left:20px" value="Send Message">
			</form>
				</div>
			</div>
			</div>
		</div>
			<div class="address" style="text-align:center;padding-top:44px;padding-bottom:44px;background-color:#FFFFFF">
				<font color=green size=20px>Our Address</font>
				<hr color=green width=12%>
				<div class="usual_text" style="text-align:center">
					AGRIDERA Seeds & Agriculture Ltd.
					<br>P.O Box 103,
					<br>Gedera 70750, Israel.
					<br>Telephone: <font color=green>+972 8 944 9222</font>
				</div>
			</div>
			
		
			<div class="almost_footer">
			<div class="row" align=center>
				<div class="bottom_navig">
					<div class="col-md-10 col-lg-12">
						<span class="bot_nav">
						<a href="#" id="bott">PROFILE</a>
						<a href="#" id="bott">MANAGEMENT</a>
						<a href="#" id="bott">PRODUCTS</a>
						<a href="#" id="bott">R&D</a>
						<a href="#" id="bott">LINKS</a>
						<a href="#" id="bott">SITEMAP</a>
						<a href="#" id="bott">CONTACT</a></span>
						<span id="soc_media" style="word-spacing: 20px;">
                        <img src="images/Ico_in.png" width="30" height="30">
                        <img src="images/Ico_inst.png" width="30" height="30">
                        <img src="images/Ico_tube.png" width="30" height="30">
                        <img src="images/Ico_tw.png" width="30" height="30">
                        <img src="images/Ico_fb.png" width="30" height="30"></span>
					</div>
				</div>
			</div>
		</div>
		<footer>
			AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
		</footer>
		<script src="js/main.js"></script>
	</body>
</html>