<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" style="overflow-x: hidden">
	<head>
		<style type="text/css">
		
		</style>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/responsive.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<title>Tomato TAG-1002--AGRIDERA</title>
	</head>
	<body style="overflow-x: hidden">
		<header class="header1" style="width:auto">
		<div class="nav_c">	
				<nav class="navbar navbar-light bg-light">
					<a class="navbar-brand" href="index.html">
						<img src="images/Logo.png" alt="" height="115px">
					</a>
					
					<button class="navbar-toggler" type="button" data-target="#my-nav" data-toggle="collapse" style="margin-right:10px">
						<span class="navbar-toggler-icon"></span>
					</button>
					<p  style="display:block;margin:0 auto; margin-top:40px;"><input type="search" name="s1" style="font-size:21px;" value="Search">   <button type="button" class="btn btn-link"><img src="images/ico_search.png" alt="ico_search" class="ico_search"></button></p>
					<div id="my-nav" class="collapse navbar-collapse">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="index.html">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Company Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="tomatoall.html">Products</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Services</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">R&D</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contactus.html">Contact</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			
			<div class="row" id="own_header" style="width:1200px;margin: 0 auto"> 
				<div class="col-md-2" align=left><img src="images/Logo.png" alt="Logo" class="Logo" height="83px" width="163px" style="margin-top:20px"></div> 
				<div class="col-md-4"></div>
				<div class="col-md-6">
					<p  style="padding-left:180px"><input type="search" name="s1" style="margin-top:10px;margin-left:40px"><button type="button" class="btn btn-link"><img src="images/ico_search.png" alt="ico_search" class="ico_search"></button></p>
					<div class="navigation" style="margin-right:40px"><a href="index.html">Home </a> <a href="#"> Company Profile </a> <a href="tomatoall.html"> Products </a> <a href="#"> Services </a> <a href="#"> R & D </a> <a href="contactus.html"> Contact </a></p></div>
				</div>	
				
			</div>
		</header>
		
		<div class="product_descr" style="background-image: url(images/tomato_bg.png);padding-bottom:100px">
			<div class="row" style="padding-left:5px;padding-bottom:10px" id="return_to_link">
				<div class="col-md-2"></div>
				<div class="col-md-4 col-lg-2"><a href="tomatoall.html" style="color:#57984C;font-size:18px;" >&#8592; Return to all grapefruits</a></div>
			</div>
			<div class="row"  align=left id="article">
				<div class="col-md-2"></div>
				<div class="col-md-4"><div><p class="product_name" v-if="product" v-for="p in product">{{p.title}}</p></div>
					<div class="gr_stars">*****</div>
					<div class="row" class="fruits_qual_red">
						<div class="col-sm-12 col-lg-12">
						<img src="images/red_tom_logo.png" height="80px" width="80px" style="margin-right:0.6em;"><span class="fruits_qual_red">Very high yield 
														<br>and excellent fruits quality!</span>
						</div>
					</div>
					<div class="gr_descr_20px">CHARACTERISTICS
											<hr color="#57984C" width=32% align=left>
					</div>
					<div class="usual_text"><b>Resistance</b>
											<br>HR: ToMV:0-2; Fol: 1,2; Ve/Vd; 
											<br>IR: TYLCV
					</div>
					<div class="gr_descr_20px">Plant
											<hr color="#57984C" width=32% align=left>
					</div>
					<div class="usual_text"><ul type="disc" style="padding-left:-20px;margin-left:-20px">
											<li>Strong vigor that provides good leaf coverage.</li>
											<li>Very high productivity with good fruit setting.</li>
											<li>Early matured variety.</li>
											</ul>
											
					</div>
					<div class="gr_descr_20px">Fruit
											<hr color="#57984C" width=32% align=left>
					</div>
					<div class="usual_text"><ul type="disc" style="padding-left:-20px;margin-left:-20px">
											<li>Long shelf life on plant and post harvest.</li>
											<li>Nice shiny attractive deep red color.</li>
											<li>Average fruit size: 140 – 160 grams.</li>
											</ul>
											
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4">
					<img src="images/hand_tag_1002.jpg"  width="95%" style="margin-left:10px;">
					<a href="#" style="margin-right:100px" class="downl_pdf"><img src="images/download_pdf.png"  align=right style="margin-right:30px;margin-top:20px"></a>
					<div class="gr_descr_20px" style="margin-top:100px">Cycle
											<hr color="#57984C" width=32% align=left>
					</div>
					<div class="usual_text" style="text-align:left;"><ul type="disc" style="padding-left:-20px;margin-left:-20px">
											<li>Spring</li>
											<li>Fall</li>
											<li>Winter</li>
											</ul>
											
					</div>
					<div class="gr_descr_20px" style="margin-top:42px">Color
											<hr color="#57984C" width=32% align=left>
					</div>
					<div class="usual_text" style="text-align:left;">
								Red				
					</div>
				</div>
		</div>
		</div>
		<div class="almost_footer">
			<div class="row" align=center>
				<div class="bottom_navig">
					<div class="col-md-10 col-lg-12">
						<span class="bot_nav">
						<a href="#" id="bott">PROFILE</a>
						<a href="#" id="bott">MANAGEMENT</a>
						<a href="#" id="bott">PRODUCTS</a>
						<a href="#" id="bott">R&D</a>
						<a href="#" id="bott">LINKS</a>
						<a href="#" id="bott">SITEMAP</a>
						<a href="#" id="bott">CONTACT</a></span>
						<span id="soc_media" style="word-spacing: 20px;">
                        <img src="images/Ico_in.png" width="30" height="30">
                        <img src="images/Ico_inst.png" width="30" height="30">
                        <img src="images/Ico_tube.png" width="30" height="30">
                        <img src="images/Ico_tw.png" width="30" height="30">
                        <img src="images/Ico_fb.png" width="30" height="30"></span>
					</div>
				</div>
			</div>
		</div>
		<footer>
			AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
		</footer>
		
		<script src="js/main.js"></script>	
	</body>
</html>