.results{
    display: flex;
    align-items: center;
    justify-content:center;
}
.result{
    background-color:aliceblue;
    display: flex;
    align-items: center;
    justify-content:center;
    margin:10px;
    height:400px;
    width:300px;
}
.result img{
    object-fit:cover;
    height:100%;
    width:100%;
}
.buttons{
    margin-left:50%;
}